<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrowserFeatureApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
				<key>dateExpires</key>
				<string>05/03/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>APIComponent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>APM.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AR.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Binary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BrowserFeatureApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Button.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CMS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Canvas.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CollectionView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CordovaBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CoreComponent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DataGrid.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GroupWidget.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Image.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KonyLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KonyMain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KonySyncV2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MLCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Map.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFIBinary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFICFNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFICoreFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFIFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFIKonySyncV2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFILoader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFISDKCommons.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFISecurity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFIUtility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NetworkComponent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PLSqlite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactNativeContainer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RichText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDKCommons.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SegmentedUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SignInWithApple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Slider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Switch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Tab.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Task.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TextArea.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TextBox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ToolBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002BC6A7CF905192A08DFBB06695A4ABFC3386B1</string>
						<key>dateExpires</key>
						<string>05/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Web.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4EDX29VVN3</string>
						<key>name</key>
						<string>HCL America</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4EDX29VVN3.com.hcl.appviewerdev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4EDX29VVN3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BrowserFeatureApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e504ec1e-4a34-4463-8c1f-5551c07b7520</string>
				<key>dateExpires</key>
				<string>13/03/24</string>
				<key>name</key>
				<string>appviewerdev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4EDX29VVN3</string>
				<key>name</key>
				<string>HCL America</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
